
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

h1{
    font-size: 60px;
    font-weight: bold;
    color: #707070;
}
h2{
    font-size: 40px;
    font-weight: bold ;
    color: #707070;
}
h3{
    font-size: 28px;
    font-weight: 900;
    color: #707070;
}
p{
    color: #18191F;
}
.half-width{
    width: 50%;
}
.button-color {
    background-color: #FBA24F;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 35px;
    border-radius: 81px;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 10px -1px #ff5722;
    font-weight: 600
}

/* header section */

header {
    padding: 20px;
    background: #fba24f;
    color: white;
}

.nav {
    text-align: center;
}
a.nav-btn {
    text-decoration: none;
    color: white;
    padding: 20px;
}


/* first section */

.contener{
    display: flex;
}
p.text-formet {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
    margin-right: 30%;
}
.Skip-color{
    color: #FBA24F;
}
.hero-info {
    padding-left: 10%;
    margin-top: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
}
.shape-images img {
    width: 95%;
    margin-top: 100px;
    border-radius: 100px;
}

/* About Me section */

.About-Me{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-photo img{
    width: 50%;
    margin-left: 30%;
    margin-top: 50px;
}
.about-info{
    margin-top: 12%;
}
/* recipies Section */
.Recipie-contener {
    display: flex;
    padding: 0px 10% 0px 10%;
}
.recipies-title{
    text-align: center;
    padding: 0px 30%;
    margin-bottom: 50px;
}

.Recipie-title-color{
    color: black;
}
.Recipie-images img{
    width: 100%; 
    border-radius: 40PX;  
}

.Recipie-columns {
    padding: 40px;
    margin: 0 1%;
    box-shadow: 0px 5px 15px 0px #e3dcdc;
    border-radius: 20px;
}

/* social-media */

.social-contener {
    display: flex;
}

.social-width {
    width: 32.33%;
    margin-left: 5%;
}
.social-item {
    margin: 50px 10% 0px 10%;
    box-shadow: 0px 10px 31px 15px #efeded;
    padding: 40px 0px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    text-align: center;
}

/* Contact form*/

.form-bg {
    background-image: url(images/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-design {
    text-align: center;
    font-size: 30px;
    color: #707070;
    padding: 4%;
    margin-bottom: -50px;
}
.send-btn {
    padding: 20px 70px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
    background-color: #db212c;
}

.id {
    height: 49px;
    width: 40%;
    border-radius: 10px;
    background-color: #fdfdfd;
    border-color: #ff8325;
    border: 1px;
    margin-top: 10px;
}
input.id.mbox {
    height: 200px;
}

.form-style {
    margin-bottom: 25px;
}

/* footer */
footer{
    margin-top: 50px;
}

.food-dokan {
    text-align: center;
    background-color: #0B0D17;
    height: 150px;
    padding: 50px 0px;
}
h3.food {
        color: #5B5B5B;
    }

span.food-title {
    color: orange;

}
span.food-text-color{
    color: white;
}